*{
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(15, 15, 15);
}

#main_content {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(21, 21, 21);
  color: aliceblue;
  text-align: center;
}

#weather_div {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  white-space: pre-wrap;
}

#meteo_ad {
  display: block;
  text-align: right;
  font-size: 10px;
}

#kafelki {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  height: auto;
  width: fit-content;
  
  border-radius: 0.5em;
  background-color: rgba(70, 162, 222, 0.42);

  display: flex;
  justify-content: center;
  align-items: center;
  } /* div idealnie obejmuje wszystkie kafelki - nie ruszać */
  
.kafelek {
  float: left;
  margin: 1em;

  height: 6em;
  aspect-ratio: 1/1; /*width = height*/

  border-radius: 1em;
  background-color: rgba(70, 162, 222, 0.42);
  font-size: 1.2vw;
} /* CSS dla kafelka - nie ruszać */

.kafelek > div{
transform:translateY(-0.5em);
} /* SVG w kafelku był za nisko, trzeba dodać skalowanie wielkości SVG kafelków */

#hourly_weather {
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 40px;
  font-size: 1.2vw;
}

#hourly_weather_1 {
  padding: 20px;
  height: 480px;
  width: 10em;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: rgba(70, 162, 222, 0.42);
  text-align: justify;
}

#hourly_weather_2 {
  padding: 20px;
  height: 480px;
  width: 10em;
  background-color: rgba(70, 162, 222, 0.42);
  text-align: justify;
}


#weather_icons_2 {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#prev_day{
  margin-top: auto;
  margin-bottom: auto;
  height: 50px;
  width: 50px;
  background-image: url("../public/images/others/arrow-prev.svg");
  background-size: cover;
} /*w pełni responsywna strzałka - poprzedni dzień*/

#next_day{
  margin-top: auto;
  margin-bottom: auto;
  height: 50px;
  width: 50px;
  background-image: url("../public/images/others/arrow-next.svg");
  background-size: cover;
} /*w pełni responsywna strzałka - następny dzień*/

.navigation_bar_value {
  display: block;
  float: left;
  margin-top: 45px;
  margin-left: 50px;
  margin-bottom: 50px;
  height: 20px;
  width: fit-content;
  size: 20px;
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}

.weather_icons {
  padding-top: 20px;
  padding-bottom: 20px;
  height: fit-content;
  width: 50px;
  background-color: rgba(70, 162, 222, 0.42);
}

.navigation_bar_value:hover {
  color: rgb(147, 161, 175);
}

.navigation_bar_value:active {
  color: rgb(56, 151, 247);
}

.day_background {
  background-image: url("../public/images/others/weather_background.png");
  background-size: cover;
}

.night_background {
  background-image: url("../public/images/others/weather_night_background.png");
  background-size: cover;
}

#strom_background {
  background-image: url("../public/images/others/weather_storm_background.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daily_icons {
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
}


#error_box{
  color: white;
  margin: 20em;
  padding: 7em;
  border-radius: 0.5em;
  background-color: rgba(56, 96, 124, 0.42);
}
.error_text{
font-size: 50px;
}

#info{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#details{
  height: fit-content;
  width: 34%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
  font-size: 1.2vw;
  background-color: rgba(70, 162, 222, 0.42);
}

.container{
  align-content: left;
}